<div class="pin">
  <img src="<%= movie.poster %>" />
  <%= link_to truncate(movie.title, length: 35), movie %>
  <hr/>
  Director: <%= movie.directors.first.full_name %>
  <hr/>
  <%= movie.year %> (<%= movie.countries.first.country_name %>) ,
  <%= movie.runtime %> min, <%= movie.rated.rated %>
  <hr/>
  <p>
  <%= truncate(movie.plot, length: 150) %>
  <%= link_to "read more", movie %>
  </p>
  <hr/>
  <%= render 'movies/watchlist_form', movie:movie if logged_in? %>
  <hr/>
  <%= render 'movies/watchedlist_form', movie:movie if logged_in? %>
</div>
