<div class="pin">
  <img src="<%= movie.poster %>" />
  <%= link_to truncate(movie.title, length: 35), movie %>
  <hr/>
  Director: <%= movie.directors.first.full_name %>
  <hr/>
  <%= movie.year %> (<%= movie.countries.first.country_name %>) ,
  <%= movie.runtime %> min, <%= movie.rated.rated %>
  <hr/>
  <%= "IMDB : #{movie.imdb_rating} "%>
  <% if logged_in? %>
    <% unless current_user.get_rate_for(movie).nil? %>
      <%= ", Your rate : #{current_user.get_rate_for(movie).rate}" %>
    <% end %>
    <hr/>
  <%= render 'movies/watchlist_form', movie:movie %>
  <hr/>
  <%= render 'movies/watchedlist_form', movie:movie %>
  <% end %>
</div>
